extends layout

block content
  #heading
    h1 GAMES 2020
    p Brace yourself. 2020 is jam-packed.

    br

  // Wrapper
  #wrapper

    // USER INFO
    #userInfo
      h2 GAME INFO
      p
        strong Platform:
        |  <span id='userInfoName'></span>
        br
        strong Release Date:
        |  <span id='userInfoAge'></span>
        br
        strong Rating:
        |  <span id='userInfoGender'></span>
        br
        strong price:
        |  <span id='userInfoLocation'></span>
    // /USER INFO

    // USER LIST
    h2 GAME LIST
    #userList
      table
        thead
          th GAME NAME
          th DEVELOPER
          th Delete?
        tbody
    // /USER LIST

    // ADD USER
    #addUser
      h2 ADD GAME
      fieldset
        input#inputUserName(type='text', placeholder='GAME NAME')
        input#inputUserEmail(type='text', placeholder='DEVELOPER')
        br
        input#inputUserFullname(type='text', placeholder='PLATFORM')
        input#inputUserAge(type='text', placeholder='RELEASE DATE')
        br
        input#inputUserLocation(type='text', placeholder='RATING')
        input#inputUserGender(type='text', placeholder='PRICE')
        br
        button#btnAddUser Add game
    // /ADD USER

  // /WRAPPER